
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode/


/*.csv
temp.cbl

CV.db
writeconfigfile.py

configPRIVATE.ini

.~lock*

ReadingLists/*
ReadingLists-HTML/*
ReadingLists
CVCoverImages/*
mylarLeagueWishlist-TEST.py