
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode/


/*.csv
writeconfigfile.py

configPRIVATE.ini

.~lock*

ReadingLists/*
ReadingLists

mylarLeagueWishlist-TEST.py